<div class="post" data-price={{price}} data-city={{city}} data-condition={{condition}}>
  <div class="post-contents">
    <div class="post-image-container">
      <img src={{photoURL}} alt={{description}}>
    </div>
    <div class="post-info-container">
      <a href="#" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span> <span class="post-city">({{city}})</span>
    </div>
  </div>
</div>


<div class = "post-container">
  <div class = "Name">
    {{name}}
  </div>

  {{#if isDriver}}
    <div class = "License">
      {{license}}
    </div>
    <div class = "Car">
      {{car}}
    </div>

  {{/if}}
  <div class = "Time">
    {{time}}
  </div>

  <div class = "Date">
    {{date}}
  </div>

  <div class = "Start Location">
    {{start}}
  </div>

  <div class = "Destination Location">
    {{end}}
  </div>


</div>
