<div class = "post-container">
  <div class = "Name">
    {{name}}
  </div>

  {{#if isDriver}}
    <div class = "License">
      {{license}}
    </div>
    <div class = "Car">
      {{car}}
    </div>

  {{/if}}
  <div class = "Time">
    {{time}}
  </div>

  <div class = "Date">
    {{date}}
  </div>

  <div class = "Start Location">
    {{start}}
  </div>

  <div class = "Destination Location">
    {{end}}
  </div>


</div>
