<div class = "post-container">
  <div class = "Name", data-n="{{name}}">
    <span class="tag">Driver:</span>{{name}}
  </div>


  <div class = "License", data-l="{{license}}">
    <span class="tag">Plate Number:</span>{{license}}
  </div>
  <div class = "Car", data-c="{{car}}">
    <span class="tag">Car Type:</span>{{car}}
  </div>


  <div class = "Time", data-t="{{time}}">
    <span class="tag">Departure Time:</span>{{time}}
  </div>

  <div class = "Date", data-d="{{date}}">
    <span class="tag">Departure Date:</span>{{date}}
  </div>

  <div class = "Start Location", data-s="{{start}}">
    <span class="tag">Departure Location:</span>{{start}}
  </div>

  <div class = "Destination Location", data-e="{{end}}">
    <span class="tag">Destination:</span>{{end}}
  </div>

  <div class="delete">
    <button type="button" id="delete-this" class="delete-button">Delete Post</button>
  </div>

</div>
